
<body>
<a href="/">Home</a>
<a href="/about/">About</a>


	<h1>This will be the about page.</h1>
    <h2>About me.</h2>


    <p>Hopefully this text shows up somewhere.</p>

    <p>Hopefully this does too.</p>
</body>
