---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Greeting from '../components/Greeting.jsx';
import ThemeIcon from '../components/ThemeIcon.astro';
---


<html lang="en">
	<Greeting messages={["Oh hi", "Oh, hi!"]} />
	<ThemeIcon />
	<Header />
	<body>
		<h1>Oh hi beeb.  Just working on stuff here.</h1>
	<Footer />
	</body>
</html>
