---
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import SectionTwo from '../components/SectionTwo.astro';
---


<html lang="en">
	<body>
		<Hero />
		<SectionTwo />
		<Footer />
	</body>
</html>
