---
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import SectionTwo from '../components/sec_TourCoutureBuy.astro';
import SectionThree from '../components/sec_BookmarkwithBraceletBuy.astro';
import SectionFour from '../components/sec_BookmarkBuy.astro';
---


<html lang="en">
	<body>
		<Hero />
		<SectionTwo />
		<SectionThree />
		<SectionFour />
		<Footer />
	</body>
</html>
