---
import { Image } from 'astro:assets';
import myImage from '../assets/Bracelets.png';
---

<div class="Top_Page">
    <header>
        <Image src={myImage} alt="A description of my image." />
    </header>
</div>