---
import Taylor_Snake from '../assets/taylor snake.png';
import Book from '../assets/Book_Group.png';
import Cover from '../assets/Final_Cover.jpg';
---


<!-- ============================================ -->
<!--                    Team                      -->
<!-- ============================================ -->

<section id="meet-team-2071">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Kimberly Macnider</span>
            <h2 class="cs-title">
                <span style='color: rgb(250, 99, 184)'>T</span><span style='color: orange'>O</span><span style='color: rgb(251, 79, 79)'>U</span><span style='color: rgb(156, 60, 215)'>R</span>
                <span style='color: rgb(43, 42, 42)'>C</span><span style='color: grey'>O</span><span style='color: rgb(141, 54, 54)'>U</span><span style='color: #5283f8'>T</span><span style='color: rgb(189, 198, 189)'>U</span><span style='color: rgb(119, 228, 226)'>R</span><span style='color: rgb(2, 2, 116)'>E</span>
            </h2>
            </span>
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset={Cover.src}>
        <source media="(min-width: 601px)" srcset={Cover.src}>
        <img loading="lazy" decoding="async" src={Cover.src} alt="" width="1024" height="894">
    </picture>
</section>


<style>
/*-- -------------------------- -->
<!--            Team            -->
<--- -------------------------- -*/

:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

ul{
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: #bd98d2;
    display: block;
}

.cs-title {
    font-family: serif;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 0 0;
    color: #5283f8;
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}

.cs-text-pic-header{
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: #f4d2c7;
    position: relative;
}


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-2071 {
    /* 240px - 480px top */
    /* 60px - 100px bottom */
    /* 16px left & right */
    padding-top: 30%;
    background-color: #FAF6F2;
    overflow: hidden;
    position: relative;
  }
  #meet-team-2071:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #meet-team-2071 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #meet-team-2071 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 59rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #meet-team-2071 .cs-text {
    max-width: none;
  }
  #meet-team-2071 .cs-card-group {
    width: 100%;
    max-width: 80rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2.5rem;
    position: relative;
  }
  #meet-team-2071 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: span 12;
    gap: 1rem;
  }
  #meet-team-2071 .cs-name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--headerColor);
  }
  #meet-team-2071 .cs-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
  #meet-team-2071 .cs-job {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #meet-team-2071 .cs-department {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #meet-team-2071 .cs-background {
    width: 100%;
    min-height: 26.25rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #meet-team-2071 .cs-background img {
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-2071:before {
  }
  #meet-team-2071 .cs-card-group {
    gap: 2.5rem 5rem;
  }
  #meet-team-2071 .cs-item {
    text-align: left;
    align-items: flex-start;
    grid-column: span 6;
  }
  #meet-team-2071 .cs-flex {
    align-items: flex-start;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-2071:before {
  }
  #meet-team-2071 .cs-container {
    max-width: 80rem;
  }
  #meet-team-2071 .cs-item {
    grid-column: span 4;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-2071 .cs-item {
    grid-column: span 3;
  }
}

</style>